*.asm
*.bak
*.bin
*.exe
*.ihx
*.lk
*.lst
*.map
*.mif
*.noi
*.pck
*.qws
*.rel
*.sdo
*.sft
*.sym
*.vho
*.wlf
*.xrf
/boards/s3starter
/db
/incremental_db
/roms/*.vhdl
/roms/packroms/README
/sim/work
/sw/*.vhdl
/sw/dis.html
greybox_tmp
msim_transcript
output_files
rtl_work
/simulation
*.html
