
#Created by Constraints Editor (xa3s400-ftg256-4) - 2015/05/25
NET CLOCK_50 TNM_NET = CLOCK_50;
TIMESPEC TS_CLOCK_50 = PERIOD CLOCK_50 50 MHz HIGH 50 %;

#
# soldered 50MHz Clock
# 
NET CLOCK_50 LOC = T9;

TIMESPEC TS11 = FROM  FFS TO SRAM_CTL 10 ns;
TIMESPEC TS12 = FROM  SRAM_DATA TO FFS 12 ns;
TIMESPEC TS13 = FROM  FFS TO SRAM_DATA 10 ns;
TIMESPEC TS14 = FROM  FFS TO SRAM_ADDR 10 ns;

#
# 7-segement display 
#
NET HEX_AN[0] LOC = D14;
NET HEX_AN[1] LOC = G14;
NET HEX_AN[2] LOC = F14;
NET HEX_AN[3] LOC = E13;

NET HEX[0] LOC = E14;
NET HEX[1] LOC = G13;
NET HEX[2] LOC = N15;
NET HEX[3] LOC = P15;
NET HEX[4] LOC = R16;
NET HEX[5] LOC = F13;
NET HEX[6] LOC = N16;
NET HEX[7] LOC = P16;

#
# Simple switches 
#
NET SW[0] LOC = F12;
NET SW[1] LOC = G12;
NET SW[2] LOC = H14;
NET SW[3] LOC = H13;
NET SW[4] LOC = J14;
NET SW[5] LOC = J13;
NET SW[6] LOC = K14;
NET SW[7] LOC = K13;

#
# Simple LEDs 
#
NET LEDR[0] LOC = K12;
NET LEDR[1] LOC = P14;
NET LEDR[2] LOC = L12;
NET LEDR[3] LOC = N14;
NET LEDR[4] LOC = P13;
NET LEDR[5] LOC = N12;
NET LEDR[6] LOC = P12;
NET LEDR[7] LOC = P11;

#
# UART connections to female DB9 connector J2
#
NET UART_TXD LOC = R13;
NET UART_RXD LOC = T13;
#
# Press buttons 
#
NET KEY[0] LOC = M13;
NET KEY[1] LOC = M14;
NET KEY[2] LOC = L13;
NET KEY[3] LOC = L14;
#
# RAM 
#
NET SRAM_ADDR[0] LOC = L5;
NET SRAM_ADDR[1] LOC = N3;
NET SRAM_ADDR[2] LOC = M4;
NET SRAM_ADDR[3] LOC = M3;
NET SRAM_ADDR[4] LOC = L4;
NET SRAM_ADDR[5] LOC = G4;
NET SRAM_ADDR[6] LOC = F3;
NET SRAM_ADDR[7] LOC = F4;
NET SRAM_ADDR[8] LOC = E3;
NET SRAM_ADDR[9] LOC = E4;
NET SRAM_ADDR[10] LOC = G5;
NET SRAM_ADDR[11] LOC = H3;
NET SRAM_ADDR[12] LOC = H4;
NET SRAM_ADDR[13] LOC = J4;
NET SRAM_ADDR[14] LOC = J3;
NET SRAM_ADDR[15] LOC = K3;
NET SRAM_ADDR[16] LOC = K5;
NET SRAM_ADDR[17] LOC = L3;

#
NET SRAM_DQ[0] LOC = N7;
NET SRAM_DQ[1] LOC = T8;
NET SRAM_DQ[2] LOC = R6;
NET SRAM_DQ[3] LOC = T5;
NET SRAM_DQ[4] LOC = R5;
NET SRAM_DQ[5] LOC = C2;
NET SRAM_DQ[6] LOC = C1;
NET SRAM_DQ[7] LOC = B1;
NET SRAM_DQ[8] LOC = D3;
NET SRAM_DQ[9] LOC = P8;
NET SRAM_DQ[10] LOC = F2;
NET SRAM_DQ[11] LOC = H1;
NET SRAM_DQ[12] LOC = J2;
NET SRAM_DQ[13] LOC = L2;
NET SRAM_DQ[14] LOC = P1;
NET SRAM_DQ[15] LOC = R1;

#
NET SRAM_WE_N LOC = G3;
NET SRAM_OE_N LOC = K4;
NET SRAM_CE_N LOC = P7;
NET SRAM_LB_N LOC = P6;
NET SRAM_UB_N LOC = T4;

# VGA Signals
NET VGA_R LOC = R12;
NET VGA_G LOC = T12;
NET VGA_B LOC = R11;
NET VGA_HS LOC = R9;
NET VGA_VS LOC = T10;

# PS/2 Signals
NET PS2_DAT LOC = M15;
NET PS2_CLK LOC = M16;


NET GPIO_1[9] SLEW = FAST;
NET GPIO_1[8] SLEW = FAST;
NET GPIO_1[7] SLEW = FAST;
NET GPIO_1[6] SLEW = FAST;
NET GPIO_1[5] SLEW = FAST;
NET GPIO_1[4] SLEW = FAST;
NET GPIO_1[3] SLEW = FAST;
NET GPIO_1[2] SLEW = FAST;
NET GPIO_1[1] SLEW = FAST;
NET GPIO_1[0] SLEW = FAST;
NET HEX[7] SLEW = SLOW;
NET HEX[6] SLEW = SLOW;
NET HEX[5] SLEW = SLOW;
NET HEX[4] SLEW = SLOW;
NET HEX[3] SLEW = SLOW;
NET HEX[2] SLEW = SLOW;
NET HEX[1] SLEW = SLOW;
NET HEX[0] SLEW = SLOW;
NET GPIO_1[9] IOSTANDARD = LVCMOS33;
NET GPIO_1[8] IOSTANDARD = LVCMOS33;
NET GPIO_1[7] IOSTANDARD = LVCMOS33;
NET GPIO_1[6] IOSTANDARD = LVCMOS33;
NET GPIO_1[5] IOSTANDARD = LVCMOS33;
NET GPIO_1[4] IOSTANDARD = LVCMOS33;
NET GPIO_1[3] IOSTANDARD = LVCMOS33;
NET GPIO_1[2] IOSTANDARD = LVCMOS33;
NET GPIO_1[1] IOSTANDARD = LVCMOS33;
NET GPIO_1[0] IOSTANDARD = LVCMOS33;
NET HEX[7] IOSTANDARD = LVCMOS33;
NET HEX[6] IOSTANDARD = LVCMOS33;
NET HEX[5] IOSTANDARD = LVCMOS33;
NET HEX[4] IOSTANDARD = LVCMOS33;
NET HEX[3] IOSTANDARD = LVCMOS33;
NET HEX[2] IOSTANDARD = LVCMOS33;
NET HEX[1] IOSTANDARD = LVCMOS33;
NET HEX[0] IOSTANDARD = LVCMOS33;

NET KEY[3] IOSTANDARD = LVCMOS33;
NET KEY[2] IOSTANDARD = LVCMOS33;
NET KEY[1] IOSTANDARD = LVCMOS33;
NET KEY[0] IOSTANDARD = LVCMOS33;
NET LEDR[7] IOSTANDARD = LVCMOS33;
NET LEDR[6] IOSTANDARD = LVCMOS33;
NET LEDR[5] IOSTANDARD = LVCMOS33;
NET LEDR[4] IOSTANDARD = LVCMOS33;
NET LEDR[3] IOSTANDARD = LVCMOS33;
NET LEDR[2] IOSTANDARD = LVCMOS33;
NET LEDR[1] IOSTANDARD = LVCMOS33;
NET LEDR[0] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[17] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[16] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[15] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[14] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[13] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[12] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[11] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[10] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[9] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[8] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[7] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[6] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[5] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[4] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[3] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[2] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[1] IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[0] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[15] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[14] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[13] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[12] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[11] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[10] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[9] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[8] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[7] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[6] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[5] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[4] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[3] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[2] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[1] IOSTANDARD = LVCMOS33;
NET SRAM_DQ[0] IOSTANDARD = LVCMOS33;
NET SW[7] IOSTANDARD = LVCMOS33;
NET SW[6] IOSTANDARD = LVCMOS33;
NET SW[5] IOSTANDARD = LVCMOS33;
NET SW[4] IOSTANDARD = LVCMOS33;
NET SW[3] IOSTANDARD = LVCMOS33;
NET SW[2] IOSTANDARD = LVCMOS33;
NET SW[1] IOSTANDARD = LVCMOS33;
NET SW[0] IOSTANDARD = LVCMOS33;
NET CLOCK_50 IOSTANDARD = LVCMOS33;
NET PS2_CLK IOSTANDARD = LVCMOS33;
NET PS2_DAT IOSTANDARD = LVCMOS33;
NET SD_CLK IOSTANDARD = LVCMOS33;
NET SD_CMD IOSTANDARD = LVCMOS33;
NET SD_DAT IOSTANDARD = LVCMOS33;
NET SD_DAT3 IOSTANDARD = LVCMOS33;
NET SRAM_CE_N IOSTANDARD = LVCMOS33;
NET SRAM_ADDR[17] IOSTANDARD = LVCMOS33;
NET SRAM_OE_N IOSTANDARD = LVCMOS33;
NET SRAM_LB_N IOSTANDARD = LVCMOS33;
NET SRAM_UB_N IOSTANDARD = LVCMOS33;
NET SRAM_WE_N IOSTANDARD = LVCMOS33;
NET UART_RXD IOSTANDARD = LVCMOS33;
NET UART_TXD IOSTANDARD = LVCMOS33;
NET VGA_B IOSTANDARD = LVCMOS33;
NET VGA_G IOSTANDARD = LVCMOS33;
NET VGA_HS IOSTANDARD = LVCMOS33;
NET VGA_R IOSTANDARD = LVCMOS33;
NET VGA_VS IOSTANDARD = LVCMOS33;

NET VGA_VS SLEW = FAST;
NET VGA_R SLEW = FAST;
NET VGA_HS SLEW = FAST;
NET VGA_G SLEW = FAST;
NET VGA_B SLEW = FAST;
NET UART_TXD SLEW = SLOW;
NET SRAM_WE_N SLEW = FAST;
NET SRAM_LB_N SLEW = FAST;
NET SRAM_UB_N SLEW = FAST;
NET SRAM_OE_N SLEW = FAST;
NET SRAM_CE_N SLEW = FAST;
NET SD_DAT3 SLEW = FAST;
NET SRAM_ADDR[17] SLEW = FAST;
NET SRAM_ADDR[16] SLEW = FAST;
NET SRAM_ADDR[15] SLEW = FAST;
NET SRAM_ADDR[14] SLEW = FAST;
NET SRAM_ADDR[13] SLEW = FAST;
NET SRAM_ADDR[12] SLEW = FAST;
NET SRAM_ADDR[11] SLEW = FAST;
NET SRAM_ADDR[10] SLEW = FAST;
NET SRAM_ADDR[9] SLEW = FAST;
NET SRAM_ADDR[8] SLEW = FAST;
NET SRAM_ADDR[7] SLEW = FAST;
NET SRAM_ADDR[6] SLEW = FAST;
NET SRAM_ADDR[5] SLEW = FAST;
NET SRAM_ADDR[4] SLEW = FAST;
NET SRAM_ADDR[3] SLEW = FAST;
NET SRAM_ADDR[2] SLEW = FAST;
NET SRAM_ADDR[1] SLEW = FAST;
NET SRAM_ADDR[0] SLEW = FAST;
NET SRAM_DQ[15] SLEW = FAST;
NET SRAM_DQ[14] SLEW = FAST;
NET SRAM_DQ[13] SLEW = FAST;
NET SRAM_DQ[12] SLEW = FAST;
NET SRAM_DQ[11] SLEW = FAST;
NET SRAM_DQ[10] SLEW = FAST;
NET SRAM_DQ[9] SLEW = FAST;
NET SRAM_DQ[8] SLEW = FAST;
NET SRAM_DQ[7] SLEW = FAST;
NET SRAM_DQ[6] SLEW = FAST;
NET SRAM_DQ[5] SLEW = FAST;
NET SRAM_DQ[4] SLEW = FAST;
NET SRAM_DQ[3] SLEW = FAST;
NET SRAM_DQ[2] SLEW = FAST;
NET SRAM_DQ[1] SLEW = FAST;
NET SRAM_DQ[0] SLEW = FAST;
NET PS2_CLK SLEW = SLOW;
NET PS2_DAT SLEW = SLOW;
NET SD_CLK SLEW = FAST;
NET SD_CMD SLEW = FAST;

NET HEX_AN[3] IOSTANDARD = LVCMOS33;
NET HEX_AN[2] IOSTANDARD = LVCMOS33;
NET HEX_AN[1] IOSTANDARD = LVCMOS33;
NET HEX_AN[0] IOSTANDARD = LVCMOS33;

#Created by Constraints Editor (xc3s400-ft256-4) - 2015/05/25
INST SRAM_DQ[0] TNM = SRAM_DATA;
INST SRAM_DQ[1] TNM = SRAM_DATA;
INST SRAM_DQ[2] TNM = SRAM_DATA;
INST SRAM_DQ[3] TNM = SRAM_DATA;
INST SRAM_DQ[4] TNM = SRAM_DATA;
INST SRAM_DQ[5] TNM = SRAM_DATA;
INST SRAM_DQ[6] TNM = SRAM_DATA;
INST SRAM_DQ[7] TNM = SRAM_DATA;
INST SRAM_DQ[8] TNM = SRAM_DATA;
INST SRAM_DQ[9] TNM = SRAM_DATA;
INST SRAM_DQ[10] TNM = SRAM_DATA;
INST SRAM_DQ[11] TNM = SRAM_DATA;
INST SRAM_DQ[12] TNM = SRAM_DATA;
INST SRAM_DQ[13] TNM = SRAM_DATA;
INST SRAM_DQ[14] TNM = SRAM_DATA;
INST SRAM_DQ[15] TNM = SRAM_DATA;

#Created by Constraints Editor (xc3s400-ft256-4) - 2015/05/25
INST SRAM_ADDR[0] TNM = SRAM_ADDR;
INST SRAM_ADDR[1] TNM = SRAM_ADDR;
INST SRAM_ADDR[2] TNM = SRAM_ADDR;
INST SRAM_ADDR[3] TNM = SRAM_ADDR;
INST SRAM_ADDR[4] TNM = SRAM_ADDR;
INST SRAM_ADDR[5] TNM = SRAM_ADDR;
INST SRAM_ADDR[6] TNM = SRAM_ADDR;
INST SRAM_ADDR[7] TNM = SRAM_ADDR;
INST SRAM_ADDR[8] TNM = SRAM_ADDR;
INST SRAM_ADDR[9] TNM = SRAM_ADDR;
INST SRAM_ADDR[10] TNM = SRAM_ADDR;
INST SRAM_ADDR[11] TNM = SRAM_ADDR;
INST SRAM_ADDR[12] TNM = SRAM_ADDR;
INST SRAM_ADDR[13] TNM = SRAM_ADDR;
INST SRAM_ADDR[14] TNM = SRAM_ADDR;
INST SRAM_ADDR[15] TNM = SRAM_ADDR;
INST SRAM_ADDR[16] TNM = SRAM_ADDR;
INST SRAM_ADDR[17] TNM = SRAM_ADDR;

#Created by Constraints Editor (xc3s400-ft256-4) - 2015/05/25
INST SRAM_CE_N TNM = SRAM_CTL;
INST SRAM_LB_N TNM = SRAM_CTL;
INST SRAM_OE_N TNM = SRAM_CTL;
INST SRAM_UB_N TNM = SRAM_CTL;
INST SRAM_WE_N TNM = SRAM_CTL;
